<div class="header" *ngFor="let parametres of collection$ | async">
  <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe frameborder="0" height="100%" width="100%"
            src="https://www.youtube.com/embed/Lim8TVQHf2k?autoplay=1&mute=1&loop">
    </iframe>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="carousel-caption d-flex h-100 text-left col-md-3">
        <a class="phone w-100" href="{{parametres.facebook}}" data-aos-anchor-placement="top-center"
           data-aos="fade-down" data-aos-delay="50">
          <i class="fa fa-facebook" aria-hidden="true"></i> Suivre sur Facebook
        </a>
      </div>
      <div class="carousel-caption d-flex h-100 text-right offset-lg-6 col-md-3">
        <a class="phone w-100" href="tel:+33{{parametres.phone | trim }}" data-aos-anchor-placement="top-center"
           data-aos="fade-down" data-aos-delay="50">
          <fa-icon [icon]="faPhone"></fa-icon>
          {{parametres.phone}}
        </a>
      </div>
    </div>

    <div class="carousel-caption d-flex h-75 align-items-top justify-content-center" data-aos="fade-up"
         data-aos-delay="50">
      <h1>{{parametres.nom1 | uppercase}} <span>{{parametres.nom2 | uppercase}}</span></h1>
    </div>
    <div class="carousel-caption d-flex h-50 align-items-top justify-content-center" data-aos="fade-down"
         data-aos-delay="200">
      <p class="accroche">
        {{parametres.slogan}}
      </p>
    </div>
    <div class="carousel-caption caroussel_text caroussel_btn d-flex h-25 align-items-top justify-content-center">
      <a href="#contact">
        <button class="btn button_carrousel btn-lg">{{"Devis Gratuit" | uppercase}}</button>
      </a>
    </div>
    <div class="carousel-caption caroussel_text d-flex h-5 align-items-center justify-content-center">
      <a class="bond" href="#cards" data-aos-anchor-placement="top-center" data-aos-duration="3000">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </a>
    </div>
  </div>
</div>
