@import '../../stylings/theme';

.footer{
  background-color: $secondary;
}
.mention{
  cursor: pointer;
  color: $primary;
}
a{
  color: $primary;
}

a:not([href]):not([tabindex]) {
  color: $primary;
  :hover {
    text-decoration: underline;
  }
}
