<div class="card_component">
  <div id="cards" class="text-center prestations">
    <div class="content-text">
      <h2>
        Prestations
      </h2>
    </div>

    <div class="content-card cards d-flex container align-items-center ">

      <div class="row text-center justify-content-center">
        <div class="contain elagage col-lg-4 col-md-6 col-sm-12 mr-5 mb-5 mr-5 mb-5" (click)="openLg(elagage)">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>Elagage</p>
              <div class="description">
                <p>L’élagage consiste à couper les branches superflues d’un arbre</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contain rognage col-lg-4 col-md-6 col-sm-12 mr-5 mb-5" (click)="openLg(rognage)">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>Rognage</p>
              <div class="description">
                <p>Après l’abattage d’un arbre, il reste la souche. L’utilisation d’une rogneuse permet d’éliminer les
                  souches
                  après
                  abattage</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contain abattage col-lg-4 col-md-6 col-sm-12 mr-5 mb-5">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>Abattage</p>
              <div class="description">
                <p>L’élagage consiste à couper les branches superflues d’un arbre</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contain broyage col-lg-4 col-md-6 col-sm-12 mr-5 mb-5" (click)="openLg(broyage)">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>Broyage</p>
              <div class="description">
                <p>Le broyat issus de votre broyeur pourra être employé pour pailler le sol, ce qui maintient l'humidité
                  et limite
                  la propagation des mauvaises herbes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contain fendage col-lg-4 col-md-6 col-sm-12 mr-5 mb-5" (click)="openLg(fendage)">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>Fendage</p>
              <div class="description">
                <p>Après vos travaux d'élagage ou d'abattage, souvent il vous reste beaucoup de bois</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contain conseil col-lg-4 col-md-6 col-sm-12 mr-5 mb-5">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>Conseil</p>
              <div class="description">
                <p>Spécialisée dans les travaux d'élagage, Frontière Elagage répond à toutes vos demandes arboricoles.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="d-flex mh-25 text-center row cards align-items-top content-text">
      <div class="d-flex h-25 align-items-top justify-content-center col-12">
        <a href="#contact">
          <button class="btn button_carrousel btn-lg" data-aos="fade-up"
                  data-aos-delay="200">{{"Demandez votre Devis Gratuit" | uppercase}}</button>
        </a>
      </div>
    </div>

  </div>
</div>

<ng-template #elagage let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Elagage</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <i>L’élagage consiste à couper les branches superflues d’un arbre pour différentes raisons : soit on veut modifier
      sa forme pour qu'il ait un port esthétique, soit on souhaite alléger sa ramure pour renforcer des branches, ou
      soit il s'agit de réduire son envergure si des branches dépassent chez le voisin ou risquent de tomber par
      vents</i>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
<ng-template #rognage let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Rognage</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <i>>Après l’abattage d’un arbre, il reste la souche. L’utilisation d’une rogneuse permet d’éliminer les souches
      après
      abattage sans faire une excavation ni laisser un terrain plein d’ornières. Les souches sont généralement
      inesthétiques et dangereuses avec le risque d’endommager du matériel comme la tondeuse.</i>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
<ng-template #fendage let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Fendage</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Après vos travaux d'élagage ou d'abattage, souvent il vous reste beaucoup de bois</p>
    <p>Frontière Elagage vous proposer de vous fendre votre bois, pour votre système de chauffage</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
<ng-template #broyage let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Broyage</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <i>Le broyat issus de votre broyeur pourra être employé pour pailler le sol, ce qui maintient l'humidité et limite
      la propagation des mauvaises herbes.

      Si vous êtes adapte du compostage, les débris issus du broyeur rejoindront les résidus de tonte pour former un
      compost comportant un bon rapport de déchets azotés et carbonés </i>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
<!--<ng-template #conseil let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title">Conseil</h4>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <i>Le broyat issus de votre broyeur pourra être employé pour pailler le sol, ce qui maintient l'humidité et limite-->
<!--      la propagation des mauvaises herbes.-->

<!--      Si vous êtes adapte du compostage, les débris issus du broyeur rejoindront les résidus de tonte pour former un-->
<!--      compost comportant un bon rapport de déchets azotés et carbonés </i>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>-->
<!--  </div>-->
<!--</ng-template>-->
