<div id="cards" class="content cards d-flex h-100 align-items-center justify-content-center">
  <h2 class="d-flex h-75 align-items-top prestations" data-aos="fade-left" data-aos-delay="200">
    Prestations
  </h2>

  <div class="row text-center">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-up"
         data-aos-delay="200">
      <div class="card">
        <img src="assets/images/blk78rif.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Elagage
          </h3>
          <div (click)="isCollapsed = !isCollapsed"
               [attr.aria-expanded]="!isCollapsed" aria-controls="collapse1">
            <fa-icon *ngIf="isCollapsed" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed === false" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <p id="collapse1" [ngbCollapse]="isCollapsed">
              Cras scelerisque felis eleifend molestie eleifend. Integer quis mollis nisl. In ut commodo
              tellus, sed dictum nibh. Aenean lobortis a dolor.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-down"
         data-aos-delay="400">
      <div class="card">
        <img src="assets/images/b8v5lmhh.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Rognage
          </h3>
          <div (click)="isCollapsed = !isCollapsed"
               [attr.aria-expanded]="!isCollapsed" aria-controls="collapse2">
            <fa-icon *ngIf="isCollapsed" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed === false" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <p id="collapse2" [ngbCollapse]="isCollapsed">
              Cras scelerisque felis eleifend molestie eleifend. Integer quis mollis nisl. In ut commodo
              tellus, sed dictum nibh. Aenean lobortis a dolor.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-up"
         data-aos-delay="600">
      <div class="card">
        <img src="assets/images/5yuji9pa.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Fendage
          </h3>
          <div (click)="isCollapsed = !isCollapsed"
               [attr.aria-expanded]="!isCollapsed" aria-controls="collapse3">
            <fa-icon *ngIf="isCollapsed" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed === false" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <p id="collapse3" [ngbCollapse]="isCollapsed">
              Cras scelerisque felis eleifend molestie eleifend. Integer quis mollis nisl. In ut commodo
              tellus, sed dictum nibh. Aenean lobortis a dolor.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-down"
         data-aos-delay="800">
      <div class="card">
        <img src="assets/images/4gffk64b.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Broyage
          </h3>
          <div (click)="isCollapsed = !isCollapsed"
               [attr.aria-expanded]="!isCollapsed" aria-controls="collapse4">
            <fa-icon *ngIf="isCollapsed" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed === false" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <p id="collapse4" [ngbCollapse]="isCollapsed">
              Cras scelerisque felis eleifend molestie eleifend. Integer quis mollis nisl. In ut commodo
              tellus, sed dictum nibh. Aenean lobortis a dolor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
