@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
  background-color: rgba(0,0,0,.25);
  padding: 25px;
}


.container  {
  margin: 0 auto;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 0rem 2rem rgba(71, 53, 26, 0.45);
  border-radius: .4rem;
  margin: 10px;
  border: none;

  img{
    height: 250px;
    max-width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }

  & > .card-body {
    padding: 16px;

    & > .card-title {
      font-family: Raleway;
      font-weight: bolder;
      font-size: 1.2rem;
    }

    & > p {
      text-align: justify;
      font-family: open sans;
      font-size: .95rem;

    }
  }
}
