<div id="cards" class="text-center prestations">
<div class="content-text" data-aos="fade-left" data-aos-delay="200">
  <h2>
    Prestations
  </h2>
</div>

<div class="content-card cards d-flex mh-75 align-items-center justify-content-center">

  <div class="row text-center">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-up"
         data-aos-delay="200"  (click)="unCollapsed();isCollapsed1 = !isCollapsed1">
      <div [ngClass]="(!isCollapsed1)?'darken card':'card'" >
        <img src="assets/images/blk78rif.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Elagage
          </h3>
          <div class="d-none d-md-block">
            <fa-icon *ngIf="isCollapsed1" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed1 === false" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-down"
         data-aos-delay="400"  (click)="unCollapsed();isCollapsed2 = !isCollapsed2">
      <div [ngClass]="(!isCollapsed2)?'darken card':'card'">
        <img src="assets/images/b8v5lmhh.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Rognage
          </h3>
          <div class="d-none d-md-block">
            <fa-icon *ngIf="isCollapsed2" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed2 === false" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-up"
         data-aos-delay="200" (click)="unCollapsed();isCollapsed3 = !isCollapsed3">
      <div [ngClass]="(!isCollapsed3)?'darken card':'card'">
        <img src="assets/images/5yuji9pa.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Fendage
          </h3>
          <div class="d-none d-md-block">
            <fa-icon *ngIf="isCollapsed3" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed3 === false" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-down"
         data-aos-delay="400" (click)="unCollapsed();isCollapsed4 = !isCollapsed4">
      <div [ngClass]="(!isCollapsed4)?'darken card':'card'">
        <img src="assets/images/4gffk64b.bmp" alt="">
        <div class="card-body">
          <h3 class="card-title">
            Broyage
          </h3>
          <div class="d-none d-md-block">
            <fa-icon *ngIf="isCollapsed4" [icon]="faChevronUp" data-aos-delay="200"></fa-icon>
            <fa-icon *ngIf="isCollapsed4 === false" [icon]="faChevronDown" data-aos-delay="200"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex mh-25 text-center row cards align-items-top content-text" data-aos="fade-left" data-aos-delay="200">
  <div *ngIf="(!isCollapsed1)" class="col-12">
    <p>
      Cras scelerisque felis eleifend molestie eleifend. Integer quis mollis nisl. In ut commodo
      tellus, sed dictum nibh. Aenean lobortis a dolor.
    </p>
  </div>
  <div *ngIf="(!isCollapsed2)" class="col-12">
    <p>
      Completely synergize premier leadership skills with plug-and-play schemas.
      Efficiently engage superior vortals.
    </p>
  </div>
  <div *ngIf="(!isCollapsed3)" class="col-12">
    <p>
      Energistically whiteboard goal-oriented schemas for wireless metrics.
      Globally deploy backend ROI via excellent internal.
    </p>
  </div>
  <div *ngIf="(!isCollapsed4)" class="col-12">
    <p>
      Proactively architect distinctive architectures for robust leadership.
      Credibly cultivate installed base supply chains after wireless e-tailers. Phosfluorescently.
    </p>
  </div>
  <div class="d-flex h-25 align-items-top justify-content-center col-12">
    <a href="#contact">
      <button class="btn button_carrousel btn-lg">{{"Demandez votre Devis Gratuit" | uppercase}}</button>
    </a>
  </div>
</div>

</div>
