@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
  background-color: rgba(0, 0, 0, .25);
  padding: 25px;
}
//.card_component {
//  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
//  background-image: url('../../assets/images/carousel5.png');
//  width: 100%;
//  height: 100vh;
//}

.card {
  position: relative;
  margin-bottom: 10px;
  height: 450px;
  max-height: 450px;
  width: 300px;
  max-width: 300px;
  display: -ms-flexbox;
  display: flex;
  word-wrap: break-word;
  opacity: 0.8;
  background-clip: border-box;
  box-shadow: 0 0rem 1rem rgba(71, 53, 26, 0.25);
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & > .card-title {

    width: 150px;
    height: 150px;
    background-color: #dec3af;
    border-radius: 50%;
    opacity: 0.95;
    & > h3 {
      align-self: center;
      font-weight: bolder;
      margin-top: 55px;
      color: white;
    }
  }

  & > .card-body {
    padding: 16px;
  }
  p {
    text-align: justify;
    font-size: 1.1rem;
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
  }
}
.cards{
  background-color: #dec3af;
 }

.darken{
  background-color: #a5796d;
  color: white;
}
.content-card {
  min-height: 50vh;
}
.content-text {
  min-height: 25vh;
}
.prestations{
  position: relative;
  h2{
    margin: 0;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.button_carrousel {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: black 1px 1px 5px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  margin:  80px 10px 10px 10px ;
}
$bg: #dec3af;

body {
  background-color: $bg;
}
.elagage{
  //background: url("../../assets/images/elagage.png");
  background: url("../../assets/images/carousel4.jpg");
}
.rognage{
  background: url("../../assets/images/rognage.png");
}
.abattage {
  //background: url("../../assets/images/abattage.png");
  background: url("../../assets/images/carousel1.jpg");
}
.broyage{
  //background: url("../../assets/images/broyage.png");
  background: url("../../assets/images/carousel6.jpg");
}
.fendage{
  background: url("../../assets/images/fendage.png");
}
.conseil{
  background: url("../../assets/images/conseil.png");
}
.contain {
  background-position: 50% 55%;
  background-size: cover;
  max-height: 400px;
  max-width: 300px;
  width: 300px;
  height: 400px;
  background-clip: border-box;
  border: none;
  align-items: center;
  justify-content: center;
  //top:0; right: 0; left: 0; bottom: 0;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0rem 1rem rgba(71, 53, 26, 0.25);
  border-radius: 15px;
  margin-left: 32px;
}


.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  max-height: 150px;
  background: rgba(77, 77, 77, .5);
  border-radius: 15px;
  color: #FEF5DF;
  transform: translateY(40px);
  transition: all 0.7s;
  p{
    padding-top: 50px;
  }
  hr {
    display: block;
    width: 0;

    border: none;
    border-bottom: solid 2px #FEF5DF;

    position: absolute;
    bottom: 0; left:20px;

    transition: all .5s;
  }
}
.contain:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(77, 77, 77, .5);
  color: #FEF5DF;
  transition: all 0.5s;
  border-radius: 15px;

  font-family: 'Playfair Display', serif;
  & .head {
    transform: translateY(0px);
    background-color: transparent;
  }

  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  & .description {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
    p{
      padding-top: 50px;
    }
  }
}
.description{
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  p{
    padding-top: 50px;
  }
}
.modal-body{
  .modal-img{
    max-height: 300px;
    height: 300px;
    width: 100%;
    p{
      display: none;
    }
  }
}
