<div class="content d-flex h-100 align-items-center justify-content-center bg-contact">

<div class="row ">
  <div class="col-md-2">
  </div>
  <div class="col-md-4 col-sm-10 offset-sm-1 bg-form">
  <h3 class="contact-text text-center">
    <span class="green">DEVIS GRATUIT</span><br>dolor sit amet, consectetur adipiscing elit.
  </h3>

  <label for="nom" class="form-required">Nom</label>
  <input class="required form-control" type="text" id="nom" required="required" aria-required="true">

  <label for="adresse">Adresse</label>
  <input class="form-control" type="text" id="adresse" >


  <label for="email">Email</label>
  <input class="form-control" type="text" id="email">

  <label for="telephone" class="form-required">Téléphone</label>
  <input class="required form-control" type="text" id="telephone" required="required" aria-required="true">

  <label for="message" class="form-required">Message</label>
  <textarea class="required form-control" id="message" required="required" aria-required="true"></textarea>

  <input type="submit" value="Envoyer le message" class="btn button_form btn-lg mt-5 w-100">

</div>

<div class="col-md-4 offset-md-1 offset-sm-1 col-sm-10 d-flex align-items-center text-center">
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugviat magna sed ultricies bibendum.  Nunc porta sed dui ac congue. Duis<br>
  <strong>Frontière élagage Nunc porta sed dui ac congue. Duis  </strong>
  </p>
</div>
</div>
</div>
