<div>
  <h3 class="contact-text text-align-center">
    <span class="green">DEVIS GRATUIT</span><br>dolor sit amet, consectetur adipiscing elit.
  </h3>

  <label for="nom" class="form-required">Nom</label>
  <input class="required form-control" type="text" id="nom" required="required" aria-required="true">

  <label for="adresse">Adresse</label>
  <input class="form-control" type="text" id="adresse" >


  <label for="email">Email</label>
  <input class="form-control" type="text" id="email">

  <label for="telephone" class="form-required">Téléphone</label>
  <input class="required form-control" type="text" id="telephone" required="required" aria-required="true">

  <label for="message" class="form-required">Message</label>
  <textarea class="required form-control" id="message" required="required" aria-required="true"></textarea>

  <input type="submit" value="Envoyer le message" class="btn btn-primary">

</div>

<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugviat magna sed ultricies bibendum.  Nunc porta sed dui ac congue. Duis </p>
  <h3>Frontière élagage Nunc porta sed dui ac congue. Duis  </h3>
</div>
