<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="picsum-img-wrapper image_cover image1">
      </div>
    <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
      <div class="">
        <h2>Nulla vitae elit libero, a pharetra augue mollis interdum.</h2>
      </div>
    </div>
      <div class="carousel-caption caroussel_text d-flex h-25 align-items-center justify-content-center">
        <a href="#">
          <button class="btn button_carrousel btn-lg">Devis Gratuit</button>
        </a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper image_cover image2">
    </div>
    <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
      <div class="">
        <h2>Nulla vitae elit libero, a pharetra augue mollis interdum.</h2>
      </div>
    </div>
    <div class="carousel-caption caroussel_text d-flex h-25 align-items-center justify-content-center">
      <a href="#">
        <button class="btn button_carrousel btn-lg">Devis Gratuit</button>
      </a>
    </div>
  </ng-template>
</ngb-carousel>
