<ngb-carousel>

  <ng-template ngbSlide *ngFor="let imageBackground of imagesBackground">
      <div [class]="imageBackground">
      </div>
      <div class="carousel-caption d-flex h-100 align-items-top text-xs-center text-lg-right ">
          <a class="phone w-100" href="tel:+33606060606" data-aos-anchor-placement="top-center" data-aos="fade-down" data-aos-delay="50">
            <fa-icon  [icon]="faPhone"></fa-icon> 06 98 41 60 11
          </a>
      </div>
      <div class="carousel-caption d-flex h-75 align-items-top justify-content-center" data-aos="fade-up" data-aos-delay="50">
        <h1>{{"Frontière" | uppercase}} <span>{{"élagage" | uppercase}}</span></h1>
      </div>
      <div class="carousel-caption d-flex h-50 align-items-top justify-content-center" data-aos="fade-down" data-aos-delay="200">
        <p class="accroche">
          Pour tous vos travaux d'élagage, de broyage, d'abattage, <br>de fendage ou de rognage
        </p>
      </div>
      <div class="carousel-caption caroussel_text caroussel_btn d-flex h-25 align-items-top justify-content-center">
        <a href="#contact">
          <button class="btn button_carrousel btn-lg">{{"Devis Gratuit" | uppercase}}</button>
        </a>
      </div>
      <div class="carousel-caption caroussel_text d-flex h-5 align-items-center justify-content-center" >
        <a class="bond" href="#cards" data-aos-anchor-placement="top-center" data-aos-duration="3000">
          <fa-icon  [icon]="faChevronDown"></fa-icon>
        </a>
      </div>
  </ng-template>
</ngb-carousel>
