.image_cover {
  background-position: 50% 55%;
  background-size: cover;
  z-index: -1;
}

.image1 {
  background-image: url('../../assets/images/carousel1.jpg');
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
}

.image_cover {
  min-height: 300px;
}

.image2 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url('../../assets/images/carousel5.jpg');
  width: 100%;
  height: 100vh;
}
.image7 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url('../../assets/images/carousel7.jpg');
  width: 100%;
  height: 100vh;
}
.image4 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url('../../assets/images/carousel6.jpg');
  width: 100%;
  height: 100vh;
}
.image8 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url('../../assets/images/carousel8.jpg');
  width: 100%;
  height: 100vh;
}

.button_carrousel {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: black 1px 1px 5px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  &:hover {
    transform: scale(1.05);
  }
}
.caroussel_btn{
  padding-top: 70px;
}
.bond {
  animation: bounce 1s ease infinite alternate;
  color: #d0bc9b;
  font-size: 2em;
  font-weight: bold;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
.phone{
  color: #d0bc9b;
  font-size: 1.7em;
  font-weight: bold;
  text-shadow: black 1px 1px 5px;
  padding-top: 2em;
  cursor: pointer;
}
h1{
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  span{
    color: #d0bc9b;
  }
}

.accroche{
  font-weight: 400;
  font-size: 1.5rem;
}
