.image_cover {
  background-position: 50% 55%;
  background-size: cover;
}
.image1{
  background-image: url('../../assets/images/7zef0vn6.bmp');
  width: 100%;
  height: auto;
}
.image2{
  background-image: url('../../assets/images/68fbrqo6.bmp');
  width: 100%;
  height: auto;
}
