@import '../../../stylings/theme';

.contact-text{
  margin-top: auto;
  margin-bottom: auto;
}
.bg-contact{
  background-color: $primary;
  width: 100%;
  color: darken($secondary,10%);
  padding: 10px;
}
.button_form{
  color: darken($secondary,10%);
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1em;
}
