.contact-text{
  margin-top: auto;
  margin-bottom: auto;
}
.bg-contact{
  background-color: #a5796d;
  width: 100%;
  color: white;
}
.button_form{
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1em;
}
