<div class="container">
  <form (ngSubmit)="register()" [formGroup]="myForm">

    <div class="form-group">
      <label>titre
        <input type="text" formControlName="titre"
               placeholder="Veuillez saisir un titre" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>descriptionCourte
        <input type="text" formControlName="descriptionCourte" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>descriptionLongue
        <input type="text" formControlName="descriptionLongue" class="form-control">
      </label>
    </div>


    <div class="form-group">
      <label>image
        <input type="text" formControlName="image" class="form-control">
      </label>
    </div>
    <button type="submit" [disabled]="myForm.invalid">Valider</button>
  </form>


</div>
