<nav class="navbar navbar-white bg-white">
    <a class="" [routerLink]="['/dashboard/card', 'list']" routerLinkActive="router-link-active">
      <button class="btn btn-secondary btn-lg" type="button">
        Prestations
      </button>
    </a>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/dashboard/carousel', 'list']" routerLinkActive="router-link-active">Galerie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/dashboard/devis', 'list']" routerLinkActive="router-link-active">Demande de devis</a>
    </li>
  </ul>
</nav>
